name: Check Go modules

on:
  workflow_dispatch:
  push:
    paths:
      - "go.mod"
      - "go.sum"
      - ".github/workflows/check-mod.yml"
  pull_request:
    paths:
      - "go.mod"
      - "go.sum"
      - ".github/workflows/check-mod.yml"

jobs:
  check:
    name: Check Go modules
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19
          check-latest: true
          cache: true

      - name: Check Go modules
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum
          go mod verify
